@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* smallest height it can go else add scroll */
    background-color: hsl(217, 54%, 11%);
}

.card-container{
    width: 350px;
    height: 590px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 14px;
    font-family: 'Outfit', sans-serif;

}

h1{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 24px;
    padding-left: 25px;
    padding-bottom: 18px;
}

.para{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 18px;
    padding-left: 25px;
    padding-bottom: 20px;
}

.preview-img{
    width: 300px;
    height: 300px;
    margin: 25px;
    border-radius: 7px;
}

.avatar-icon{
    line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 5px;
    border: 1px solid hsl(0, 0%, 100%);
	border-radius: 50%;	
    height: 30px;
    width: 30px;

}

.info{
    display: flex;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-right: 25px;
    justify-content: space-between;
}

.amount{
    display: flex;
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    font-size: 16px;
}

.time{
    display: flex;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 16px;
}

.profile{
    display: flex;
    padding-left: 25px;
    padding-bottom: 18px;
    padding-top: 18px;
    position: relative;
}

.pro-para{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 16px;
    position: absolute;
    padding: 10px;
    padding-left: 45px;
}

b{
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

.eth-icon{
    padding-right: 10px;
}

.time-icon{
    padding-right: 10px;
}

hr{
    width: 300px;
    margin: 0px 25px;
    border: 0.2px solid hsl(215, 32%, 27%);
}

h1:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

b:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.preview-img:hover{
    cursor: pointer;
    filter: sepia(1000%) hue-rotate(180deg) saturate(1000%);
}

